{% extends 'Ask_IT/base.html' %}
{% load static %}
{% block content %}

<div id="page">
    <div id="header" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 my-4 mx-2">
                    <h1>Logowanie</h1>
                </div>
            </div>
        </div>
    </div>


    <div id="login">
        <div class="container my-5">
            <form class="form-horizontal" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button id="log" name="log" type="submit" class="btn btn-success">Zaloguj</button>
            </form>
        </div>

    </div>
</div>

{% endblock %}