{% extends 'Ask_IT/base.html' %}
{% load static %}
{% block content %}

<div id="page">
    <div id="header" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 my-4 mx-2">
                    <h1>Nowe pytanie</h1>
                </div>
            </div>
        </div>
    </div>


    <div id="question">
        <div class="container my-5">
<!--tu trzeba dac to gowno do tworzenia nowego watku-->
<!--            powinno sie to skladac z tytulu wyboru kategorii pewnie poprzez rozwijane menu i ten edytor, ktory dodales do projektu-->
        </div>

    </div>
</div>

{% endblock %}