<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {{ form.media }}
</head>
<body>

<!--{% block head_extra %}-->
<!--    {{ form.media }}-->
<!--{% endblock head_extra %}-->

<form method="post">
    {% csrf_token %}
    {{ form }}
<!--<input type="text" name="content" id="content">-->
<!--&lt;!&ndash;    <textarea class="form-control" id="content" name="content" type="text"></textarea>&ndash;&gt;-->
    <input type="submit" value="OK">
</form>

</body>
</html>