{% extends 'Ask_IT/base.html' %}
{% load static %}
{% block content %}

<div id="page">
    <div id="header" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 my-4 mx-2">
                    <h1>To jest tytuł</h1>
                </div>
            </div>
        </div>
    </div>


    <div id="thread">
        <div class="container my-5">
            <ul class="posts-list list-group">
                <li class="post post-question list-group-item border rounded mb-4">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-md-3 post-side">
                                    <div class="media">
                                        <div class="media-left mr-2">
                                            <a href="#">
                                                <img class="rounded" src="{% static 'Ask_IT/img/avatar2.png' %}"
                                                     alt="user avatar" width="80" height="80">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <a class="item-title" href="#">user</a>
                                                <span class="user-status">Offline</span>
                                                <span class="user-rank">Reputacja: 44</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-9">
                                    <div class="post-heading mb-3">
                                        <span class="post-date">23.01.2020 15:00</span>
                                    </div>
                                    <div class="post-body">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                            veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                                            ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                                            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
                                            porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                            adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                                            dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
                                            nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
                                            ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
                                            voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem
                                            eum fugiat quo voluptas nulla pariatur?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="post post-best-answer list-group-item border border-warning rounded mb-4 ">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-md-3 post-side">
                                    <div class="media">
                                        <div class="media-left mr-2">
                                            <a href="#">
                                                <img class="rounded" src="{% static 'Ask_IT/img/avatar2.png' %}"
                                                     alt="user avatar" width="80" height="80">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <a class="item-title" href="#">user</a>
                                                <span class="user-status">Offline</span>
                                                <span class="user-rank">Reputacja: 44</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-9">
                                    <div class="post-heading mb-3">
                                        <span class="post-date">23.01.2020 15:00</span>
                                    </div>
                                    <div class="post-body">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                            veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                                            ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                                            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
                                            porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                            adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                                            dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
                                            nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
                                            ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
                                            voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem
                                            eum fugiat quo voluptas nulla pariatur?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="post list-group-item border rounded mb-4">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-md-3 post-side">
                                    <div class="media">
                                        <div class="media-left mr-2">
                                            <a href="#">
                                                <img class="rounded" src="{% static 'Ask_IT/img/avatar2.png' %}"
                                                     alt="user avatar" width="80" height="80">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <a class="item-title" href="#">user</a>
                                                <span class="user-status">Offline</span>
                                                <span class="user-rank">Reputacja: 44</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-9">
                                    <div class="post-heading mb-3">
                                        <span class="post-date">23.01.2020 15:00</span>
                                        <div class="post-best-answer float-right">
                                            <button type="button" class="btn btn-outline-primary btn-sm">Najlepsza
                                                odpowiedź
                                            </button>
                                        </div>
                                    </div>
                                    <div class="post-body">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                            veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                                            ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                                            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
                                            porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                            adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                                            dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
                                            nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
                                            ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
                                            voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem
                                            eum fugiat quo voluptas nulla pariatur?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="post-reply">
                <!--            tu trzeba dac to coś do odpowiedzi-->
            </div>
        </div>
    </div>
</div>

{% endblock %}