{% extends 'Ask_IT/base.html' %}
{% load static %}
{% block content %}

<div id="page">
    <div id="header" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 my-4 mx-2">
                    <h1>{{ question.title }}</h1>
                </div>
            </div>
        </div>
    </div>


    <div id="thread">
        <div class="container my-5">
            <ul class="posts-list list-group">
                <li class="post post-question list-group-item border rounded mb-4">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-md-3 post-side">
                                    <div class="media">
                                        <div class="media-left mr-2">
                                            <a href="#">
                                                <img class="rounded" src="/static/{{ question.author.profile.avatar }}"
                                                     alt="user avatar" width="80" height="80">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <a class="item-title" href="#">{{ question.author.username }}</a>
                                                <span class="user-status">Ostatnio widziany:<br/>{{ question.author.last_login }}</span>
                                                <span class="user-rank">Reputacja: {{ question.author.profile.reputation }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-9">
                                    <div class="post-heading mb-3">
                                        <span class="post-date">{{ question.date }}</span>
                                    </div>
                                    <div class="post-body">
                                        <p class="content-markdown">{{ question.content }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="post post-best-answer list-group-item border border-warning rounded mb-4 ">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-md-3 post-side">
                                    <div class="media">
                                        <div class="media-left mr-2">
                                            <a href="#">
                                                <img class="rounded"
                                                     src="/static/{{ question.bestanswer.answer.author.profile.avatar }}"
                                                     alt="user avatar" width="80" height="80">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <a class="item-title" href="#">{{
                                                    question.bestanswer.answer.author.username }}</a>
                                                <span class="user-status">Ostatnio widziany:<br/>{{ question.author.last_login }}</span>
                                                <span class="user-rank">Reputacja: {{ question.bestanswer.answer.author.profile.reputation }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-9">
                                    <div class="post-heading mb-3">
                                        <span class="post-date">{{ question.bestanswer.answer.date }}</span>
                                    </div>
                                    <div class="post-body">
                                        <p class="content-markdown">{{ question.bestanswer.answer.content }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                {% for a in answers %}

                <li class="post list-group-item border rounded mb-4">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-md-3 post-side">
                                    <div class="media">
                                        <div class="media-left mr-2">
                                            <a href="#">
                                                <img class="rounded" src="/static/{{ a.author.profile.avatar }}"
                                                     alt="user avatar" width="80" height="80">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <a class="item-title" href="#">{{ a.author.username }}</a>
                                                <span class="user-status">Ostatnio widziany:<br/>{{ question.author.last_login }}</span>
                                                <span class="user-rank">Reputacja: {{ a.author.profile.reputation }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-9">
                                    <div class="post-heading mb-3">
                                        <span class="post-date">{{ a.date }}</span>
                                        {% if request.user == question.author %}
                                        <div class="post-best-answer float-right">
                                            <form method="post">
                                                <button type="button" class="btn btn-outline-primary btn-sm">Najlepsza
                                                    odpowiedź
                                                </button>
                                            </form>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="post-body">
                                        <p>
                                            {{ a.content }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>

            <div class="post-reply">
                <div class="container my-5">
                    {% if user.is_authenticated %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form.content }}
                        <input type="hidden" name="question" value="{{ question.id }}">
                        <input type="submit" class="btn btn-primary" value="Dodaj komentarz">
                    </form>
                    {% else %}
                    <h2 style="text-align: center;"><a href="/logowanie">Zaloguj się</a> aby dodać komentarz!</h2>
                    {% endif %}
                </div>
            </div>


        </div>
    </div>
</div>

{% endblock %}