{% extends 'Ask_IT/base.html' %}
{% load static %}
{% block content %}

<div id="page">
    <div id="header" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 my-4 mx-2">
                    <h1>{{ question.title }}</h1>
                </div>
            </div>
        </div>
    </div>


    <div id="thread">
        <div class="container my-5">
            <ul class="posts-list list-group">
                <li class="post post-question list-group-item border rounded mb-4">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-md-3 post-side">
                                    <div class="media">
                                        <div class="media-left mr-2">
                                            {% for uaq in user_add_question %}
                                            <a href="#">
                                                <img class="rounded" src="/static/{{ uaq.avatar }}"
                                                     alt="user avatar" width="80" height="80">
                                            </a>
                                            {% endfor %}

                                        </div>
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <a class="item-title" href="#">{{ question.author.username }}</a>
                                                <span class="user-status">Ostatnio widziany:<br/>{{ question.author.last_login }}</span>
                                                {% for uaq in user_add_question %}
                                                <span class="user-rank">Reputacja: {{ uaq.reputation }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-9">
                                    <div class="post-heading mb-3">
                                        <span class="post-date">{{ question.date }}</span>
                                    </div>
                                    <div class="post-body">
                                        <p class="content-markdown">{{ question.content }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                {% for ba in best_answer %}

                <li class="post post-best-answer list-group-item border border-warning rounded mb-4 ">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-md-3 post-side">
                                    <div class="media">
                                        <div class="media-left mr-2">
                                            <a href="#">
                                                <img class="rounded" src="{% static 'Ask_IT/img/avatar2.png' %}"
                                                     alt="user avatar" width="80" height="80">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <a class="item-title" href="#">{{ ba.answer.author.username }}</a>
                                                <span class="user-status">Offline</span>
                                                <span class="user-rank">Reputacja: 44</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-9">
                                    <div class="post-heading mb-3">
                                        <span class="post-date">{{ ba.answer.date }}</span>
                                    </div>
                                    <div class="post-body">
                                        <p class="content-markdown">
                                            {{ ba.answer.content }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                {% endfor %}

                {% for a in answers %}

                <li class="post list-group-item border rounded mb-4">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-md-3 post-side">
                                    <div class="media">
                                        <div class="media-left mr-2">
                                            <a href="#">
                                                <img class="rounded" src="{% static 'Ask_IT/img/avatar2.png' %}"
                                                     alt="user avatar" width="80" height="80">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <a class="item-title" href="#">{{ a.author.username }}</a>
                                                <span class="user-status">Offline</span>
                                                <span class="user-rank">Reputacja: 44</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-9">
                                    <div class="post-heading mb-3">
                                        <span class="post-date">{{ a.date }}</span>
                                        <div class="post-best-answer float-right">
                                            <button type="button" class="btn btn-outline-primary btn-sm">Najlepsza
                                                odpowiedź
                                            </button>
                                        </div>
                                    </div>
                                    <div class="post-body">
                                        <p>
                                            {{ a.content }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="post-reply">
                <!--            tu trzeba dac to coś do odpowiedzi-->
            </div>
        </div>
    </div>
</div>

{% endblock %}